.img{
  width: 50px ;
  height: 50px;
}
.btn{
  width: 100%;
  background-color: #005cba;
  margin-left: 250%;
}
.col{
  .card{
    width: 110px;
    .card-img{
    img{
      width: 75px;
      height: 80px;
    }
    }
  }
}
  h3{
    margin-top: 25px;
  }
